# python files
*.pyc
__pycache__/
*.pkl
*.parquet
.ipynb_checkpoints/
sample_data/
*.egg-info*

# conda environment files different from default
environment-*.yml

# perfect_model_obs log and nml
dart_log.nml
dart_log.out
input.nml
input.nml.backup
perfect_model_obs.log

# demo's input and output folders
demo/in*
demo/out*

# CrocoLake and datasets
CrocoLake/
2025_Crocodile_tutorial/
tutorial_data/

# config files
install/envpaths.sh
